<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="../vendor/autoload.php">
	<testsuites>
		<testsuite name="integration">
			<directory>.</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="CLIENT_ID" value="12345" force="true" />
		<env name="CLIENT_SECRET" value="abcde" force="true" />
	</php>
</phpunit>
